html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

}
.slide.container {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
}
.body-catalog {
  background-color: #849d8f;

}
.site-wrapper {

  background-color: #849d8f;

}
.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}
table {
  border-spacing: 0;
}
button {
  margin: 0;
  padding: 0;

  background-color: none;
  border: 0;
  cursor: pointer;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}
.input-hidden {
  display: none;
}
.header-logo {
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.btn {
  font-family: "Roboto", Arial, sans-serif;
  color: #fefefe;
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.btn:hover {
  font-family: "Roboto", Arial, sans-serif;
  color: #fefefe;

  background: #f17b64;
  -webkit-box-shadow: inset 0 -2px 2px #ac1000;
          box-shadow: inset 0 -2px 2px #ac1000;
}

.btn:active {
  font-family: "Roboto", Arial, sans-serif;
  color: #fefefe;
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  background-color: rgba(0, 0, 0, 0.07);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0 2px 2px #942718;
          box-shadow: inset 0 2px 2px #942718;
}
.links {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.links:hover,
.links:active {
  color: #e84d37;

  -webkit-box-shadow: 0 1px 0 0 rgba(232, 77, 55, 0.2);
          box-shadow: 0 1px 0 0 rgba(232, 77, 55, 0.2);
}

.type-text:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
}
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.menu-link {
  padding: 6px 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;

  border-radius: 30px;
}

.menu-link:hover {
  padding: 6px 13px;

  color: #323232;

  background-color: #f7f6f3;
  border-radius: 30px;
}
.menu-item {
  margin-bottom: 9px;
}
.menu-link span {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.menu-item > a:active {
  color: #323232;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.9);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.9);
  background-color: #f7f6f3;
}

.menu-item:hover .popup-menu-list {
  display: block;

}
.menu-item:not(:first-child) {
  margin-bottom: 11px;
margin-left: 4px;
}
.menu-item:nth-child(3) {
  margin-left: 3px;
}
.menu-item:nth-child(4) {
  margin-left: 2px;
}

.popup-menu-list {
  position: absolute;
  width: 143px;
  display: none;
  top: 51px;
  left: -6px;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
}
.popup-menu-item {
  padding-top: 0;
}
.popup-menu-item a {
  display: block;
  height: 100%;
  padding: 8px 20px 8px 21px;
  overflow: hidden;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  text-decoration: none;
}
.popup-menu-item:first-child a {
  display: block;
  height: 100%;
  padding-top: 11px;
  padding-bottom: 13px;

  font-weight: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  text-decoration: none;
}
.popup-menu-item:first-child {
  position: relative;
}
.popup-menu-item:first-child::after {
  position: absolute;
  content: "";
  width: 130px;
  top: 40px;
  left: 6px;
  border-bottom: 1px solid #d1d0ce;
}
.popup-menu-item:last-child a {
  padding-top: 5px;
  padding-bottom: 13px;
}
.popup-menu-item:first-child:hover a {
  background-color: #fbded7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.popup-menu-item:hover a {
  background-color: #fbded7;
}
.popup-menu-item:last-child a {
  padding-top: 6px;
  padding-bottom: 12px;
}
.popup-menu-item:last-child:hover a {
  background-color: #fbded7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.popup-menu-item:last-child:active a {
  background-color: #fbded7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active-item {
  color: #ffffff;

  background-color: #d07058;
}
.item-active {
  margin-left: 1px;
}
.item-active > a:hover {
  color: #323232;
}
.item-active > a{
  color: #ffffff;
  background-color: #d07058;
}
.link-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.link-search:hover {
  color: black;

  background-color: #f8f7f4;
}
.link-search:hover .search-svg-path {
  fill: #323232;
}
.search-block:hover .search-form-wrap {
  display: block;
}
.search-form-wrap {
  position: absolute;
  z-index: 1;
  display: none;
  padding: 20px 15px 20px 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}


.search-form {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.form-search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 311px;
  padding: 8px 0 11px 13px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #999999;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d2;
  border-radius: 5px;
}
.user-profile {
  margin-right: 5px;
}
.profile-signin > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.signin-txt {
  margin-left: 7px;
}
.signin-link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}
.signin-link:hover .signin-svg {
  fill: #000000;
}
.profile-signin:hover .signin-popup {
  display: block;
}
.signin-popup {
  position: absolute;
  top: 50px;
  right: 383px;
  z-index: 12;

  display: none;
  padding: 20px 19px 16px 18px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.form-password-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 239px;
  padding: 9px 0 9px 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;

  text-align: left;
  color: #999999;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d2;
  border-radius: 5px;
}
.form-email-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 239px;
  padding: 9px 0 9px 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #999999;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d2;
  border-radius: 5px;
}
.signin-button {
  width: 101px;
  height: 43px;

  font-weight: bold;
  font-size: 18px;
  line-height: 47px;

  border-radius: 19px;
}
.button-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  height: 100%;
}

.shipcart-popup {
  position: absolute;
  right: 200px;
  z-index: 1;

  display: none;
  width: 522px;
  padding: 7px 3px 5px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.shipcart-table {
  border-spacing: 0 15px;

  -webkit-box-shadow: 0 1px 0 rgba(153, 153, 153, 0.2);
          box-shadow: 0 1px 0 rgba(153, 153, 153, 0.2);
}
.item-shipcart a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 34px 6px 16px;

  font-weight: 400;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.full-shipcart > a {
  padding: 5px 18px 6px 16px;
}
.shipcart-rows {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #323232;
}
.shipcart-rows a {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #323232;
  text-decoration: none;
}
.shipcart-rows b {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #999999;
}

.shipcart-foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-end;
  padding: 16px 11px;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
}
.rows-total b {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}
.shipcart-button {
  width: 170px;
  height: 44px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #fefefe;
  color: #fefefe;
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
}
.rows-submit {
  margin-top: 10px;
}
.shipcart-full-bg {
  background-color: rgba(248, 247, 244, 0.99);
}
.shipcart-full {
  fill: #000000;
}
.shipcart-total-empty {
  margin-left: 7px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
}
.shipcart-link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}
.shipcart-total {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #323232;
}
.shipcart-btn-remove {
  background-color: #f8f7f4;
  cursor: pointer;
}
.shipcart-rows {
  vertical-align: baseline;
  text-align: left;
}

.shipcart-totals {
  text-align: right;
}
.shipcart-button-submit {
  text-align: right;
}

.shipcart-position-img {
  width: 33px;
  height: 33px;
  padding-left: 13px;
}
.shipcart-position-artical {
  width: 217px;
  padding-left: 12px;
}
.shipcart-position-weight {
  width: 111px;
  padding-left: 29px;
}
.shipcart-position-price {
  width: 72px;
  padding-left: 11px;
}
.item-shipcart:hover .shipcart-icon {
  fill: #000000;
}
.item-shipcart:hover .shipcart-total-empty {
  color: #323232;
}
.link-search {
  color: black;

  background-color: rgba(255, 255, 255, 0.2);
}
.search-block:hover .search-form {
  display: block;
}
.time-work {
  margin: 0;
  padding: 0;
}

.time-work b {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.time-work a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  font-family: Roboto;
  color: #ffffff;
  text-decoration: none;
}
.breadcrumbs-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.slider p {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.821px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
}
.control-button {
  width: 280px;
  height: 64px;

  border-radius: 30px;
}
.control-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.banner-heading {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 34.99px;
  line-height: 26.912px;
  text-align: left;
  color: #ffffff;
}
.banner-centent {
  font-weight: 700;
  font-size: 17.99px;
  line-height: 14.441px;
  text-align: left;
  color: #ffffff;
}

.hits-item a,
.catalog-item a {
  text-decoration: none;
  position: relative;
}
.catalog-image {
  position: relative;
}
.hits-img::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 1px;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.catalog-image img {
  border-radius: 50%;
}
.catalog-price {
  position: absolute;
      top: 210px;
      z-index: 1;
      left: 0;
}
.catalog-price .price-val {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
}
.price-val::after {
  content: "";

  display: inline-block;
  width: 31px;
  height: 39px;

  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
  background-position: 3px 7px;
  background-size: contain;
}
.catalog-price small {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
  color: #ffffff;
}
.product-foo {
  width: 267x;
  margin: 6px auto;

  text-align: center;
}
.product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 14.441px;
  text-align: center;
  color: #ffffff;

  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.catalog-invisible-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fefefe;

  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.seo-header {
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: rgb(50, 50, 50);
}
.seo-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-align: left;
  color: #323232;
}
.news-header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.375;
  text-align: left;
  color: rgb(50, 50, 50);
}
.news-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #323232;
  display: inline-block;
  margin-top: 5px;
  margin-left: 1px;

}

.news-content {
  font-size: 16px;
  line-height: 1.375;
  text-align: left;
  color: rgb(90, 90, 90);
  margin: 0;
    padding: 0;
}
.subscribe-button {
  width: 129px;
  padding: 11px 0;
  font-weight: 700;
  font-size: 18px;
  border-radius: 30px;
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 7px;
}
.address-block {
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 1105px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 302px;
  height: 305px;
  padding-top: 29px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}
.address-content {
  width: 157px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: rgb(50, 50, 50);
  margin: 0;
  padding: 0;
}
.address-content-tel{
  width: 173px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: rgb(50, 50, 50);
  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.address-item p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: rgb(50, 50, 50);
  margin: 0;
  padding: 0;
}
.address-number {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 7px;
}
.callback-button {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 44px;
  text-decoration: none;
  border-radius: 30px;
  -webkit-box-align: center;
  font-size: 18px;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  line-height: 24px
}
.social-item img {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  border: 3px solid #dae2de;
  border-radius: 50%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.social-item path {
  fill: #e6ebe9;
}
.social-item:hover path {
  fill: #ffffff;
}
.social-item:active path {
  fill: #e9e9e9;
}
.footer-menu a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.footer-menu a:first-of-type {
  font-weight: 700;
  margin-right: 31px;
}
.footer-menu a:nth-child(3) {
  margin-right: 44px;
}
.footer-banner p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
  margin: 0;
  padding: 0;
}
.footer-banner a {
  color: #ffffff;
  text-decoration: none;
}
.popup-callback {
  display: none;
  width: 478px;
  height: 443px;

  background-color: #f8f7f4;
  border-radius: 10px;
}
.callback-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #323232;
}
.callback-name .type-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  height: 44px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #999999;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(178, 178, 178, 52);
  border-radius: 5px;
}
.callback-mail .type-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  height: 44px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #999999;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(178, 178, 178, 52);
  border-radius: 5px;
}
.callback-area .type-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 428px;
  height: 155px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #999999;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(178, 178, 178, 52);
  border-radius: 5px;
}
.callback-submit {
  width: 139px;
  height: 44px;

  border-radius: 30px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.filters-header {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  color: #ffffff;
}
.fieldset {
  margin-left: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #ffffff;

  border: none;
}
.filter-sort {
  width: 200px;
  margin: 0;
  padding: 0;
}
.filter-sort select {
  width: 194px;
  height: 37px;
  margin-top: 6px;

  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: #ffffff;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;;
}
.filter-sort legend {
  padding-left: 17px;
}
.filter-range {
  width: 218px;
  margin-left: 9px;

}
.form-submit{
  margin: 0;
  padding: 0;
  margin-right: 19px;
}
.catalog-form-submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
  width: 144px;
  height: 37px;
  margin-left: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.19);
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
.catalog-form-submit:hover {
  color: #323232;

  background-color: #ffffff;
}
.catalog-form-submit:active {
  color: #323232;

  background-color: #ededed;
  border: none;
  -webkit-box-shadow: inset 0 2px 2px #0000004f;
          box-shadow: inset 0 2px 2px #0000004f;
}
.page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-item {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 26px;

  border-radius: 50%;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.page-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.active-page {
  background-color: #ffffff;
}
.active-page a {
  color: #323232;
}
.page-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.page-item:hover a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.page-item:active {
  background-color: #ffffff;
}
.page-item:active a {
  color: #323232;
}
.range {
  position: relative;

  margin-top: 4px;
  padding: 4px 0 10px 21px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.range::after {
  content: "";

  display: inline-block;
  width: 176px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}
.range-slide {
  position: absolute;

  width: 5px;
  height: 5px;

  background-color: gray;
  border: 8px solid #ffffff;
  border-radius: 50%;
}
.range-left {
  top: 8px;
  left: 33px;
}
.range-right {
  top: 8px;
  left: 132px;
}
.filter-form {
  font-size: 14px;
  line-height: 1.143;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: rgb( 255, 255, 255 );
}
.filter-value {
  z-index: 1;

  font-size: 14px;
  line-height: 1.143;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
  color: rgb( 255, 255, 255 );
}
.fatty-filter {
  width: 415px;
  margin: 0;
  padding: 6px 0 6px 16px;

  border: none;
}

.fatty-filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin: 0;
  padding: 0 16px 0 5px;

  background-color: rgba( 255, 255, 255, 0.2 );
  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}
.radio-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-left: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  -webkit-box-align: center;
  -ms-flex-align: center;
}
.radio-value::before {
  content: "";

  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.radio-filter:checked + .radio-value::before {
  background-image: url(../img/radio-on.svg);
}
.filler-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filler-filter {
  display: block;
  margin: 0;
  padding: 0;

  border: none;
}
.filler-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin: 0;
  padding: 0 16px 0 20px;

  background-color: rgba( 255, 255, 255, 0.2 );
  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}
.checkbox-value::before {
  content: "";

  display: inline-block;
  width: 22px;
  height: 20px;
  margin-right: 10px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.checkbox-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-left: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  -webkit-box-align: center;
  -ms-flex-align: center;
}
.checkbox-filter:checked + .checkbox-value::before {
  width: 24px;
  height: 20px;
  margin-right: 8px;

  background-image: url(../img/checkbox-on.svg);
}
/* flexbox*/
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 22px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.nav-container {
  width: 382px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.header-wrap {
  width: 1200px;
  margin: 0 auto;
}
.tw-container {
  position: absolute;
  top: 62px;
  right: 257px;

  text-align: right;
}
.header-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  height: 100%;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 267px;
  padding-right: 1px;
  padding-bottom: 11px;
  margin-left: 342px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}
.popup-links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}
.popup-links a {
  width: 120px;
  padding-bottom: 4px;

  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  text-decoration: none;
}
.form-email {
  display: block;
}
.form-password {
  display: block;
  margin-top: 20px;
}
.signin-main-form {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 28px;
}

.control-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  margin-top: 462px;
  padding-right: 106px;
position: relative;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}
.slider {
    width: 677px;
  content: "";
  position: absolute;
  display: block;
  top: -9px;
  color: #ffffff;
  left: 309px;
  font-size: 60.468px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
    line-height: 1.006;
  margin: 0;
  padding: 0;
  text-align: center;
  }

.slide-image1,
.slide-image2,
.slide-image3 {
  display: none;
  top: -148px;
  left: 236px;

}

.control-button {
  margin: 1px auto 0 355px;
}
.switch-modify::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  vertical-align: baseline;
  margin-left: 1px;
  margin-bottom: 1px;
}
.switch-modify:nth-child(2)::before {
  margin-left: 5px;
}

.switch-modify:nth-child(3)::before {
  margin-left: 5px;
}
/*.radio-slide:checked ~ .switch-modify:first-child::before {
  background-color: #8996a6;

}
.radio-slide:checked ~ .switch-modify::before {
  background-color: #8996a6;
}*/
.radio-slide[id="switch1"]:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/ice-cream-main1.png);
  background-repeat: no-repeat;
  background-position: center -8px;
}
.radio-slide[id="switch2"]:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/ice-cream-main2.png);
  background-repeat: no-repeat;
  background-position: center -8px;
}
.radio-slide[id="switch3"]:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/ice-cream-main3.png);
  background-repeat: no-repeat;
  background-position: center -8px;
}
.radio-slide[id="switch1"]:checked ~ .site-wrapper label[for="switch1"]::before,
.radio-slide[id="switch2"]:checked ~ .site-wrapper label[for="switch2"]::before,
.radio-slide[id="switch3"]:checked ~ .site-wrapper label[for="switch3"]::before {
  background-color: #ffffff;
}
.radio-slide[id="switch1"]:checked ~ .site-wrapper .slide-image1,
.radio-slide[id="switch2"]:checked ~ .site-wrapper .slide-image2,
.radio-slide[id="switch3"]:checked ~ .site-wrapper .slide-image3 {
  display: block;
}
.radio-slide:checked ~ label::before {
  background-color: #ffffff;
}
.radio-slide:checked ~ .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 41px auto 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.banner-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;

  border-radius: 15px;
}
.banner-item p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 23px 0 0 0;
  padding: 0 6px 0 3px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%;
  font-weight: 700;
  vertical-align: baseline;
  letter-spacing: 1px;
  border: 0;
}
.banner-bg1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 23px;
  padding-right: 19px;
  padding-bottom: 23px;
  padding-left: 19px;

  background-image: url(../img/malinki.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-bg1 .banner-link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 17.99px;
  line-height: 15.753px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.banner-link-container1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 165px;
  margin-top: 44px;
  margin-right: 2px;
  margin-left: auto;
  margin-left: auto;
}
.banner-link-container2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 189px;
  margin-top: 44px;
  margin-left: auto;
  margin-left: auto;
}
.banner-bg2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 19px;

  background-image: url(../img/chokolate.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-bg2 .banner-link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 17.99px;
  line-height: 15.753px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  border-radius: 30px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.hits-block,
.catalog-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px auto 0;
  position: relative;
}
.hits-list,
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.catalog-list {
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}
.catalog-invisible-button {
  display: none;
}
.hits-item,
.catalog-item {
  width: 267px;
  position: relative;
}
.catalog-item {
  margin-bottom: 40px;
}
.seo-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1146px;
  margin: 32px auto 0;
  padding: 25px 0 23px 21px;
  background-image: url(../img/index-wafers.jpg);
  background-position: 50% 50%;
  border-radius: 15px;
}
.seo-header {
  margin: 0;
  font-weight: 500;
}
.seo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  padding-right: 9px;
  padding-left: 57px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}
.seo-item {
  position: relative;
  width: 477px;
  padding-left: 0px;
  margin-top: 21px;
}
.seo-item:first-child,
.seo-item:nth-child(3) {
  margin-right: 90px;
}
.seo-item:nth-child(3) {
  margin-top: 23px;
}
.seo-item:last-child{
    margin-top: 22px;
}
.seo-item p {
  margin: 0;
  padding: 0;
}
.seo-item::before {
  content: "";
  position: absolute;
  display: block;
  top: -13px;
  left: -58px;
  width: 49px;
  height: 49px;
  background-position: center;
}
.seo-item:first-child::before{
  background-image: url(../img/ice-cream.svg);
}
.seo-item:nth-child(2)::before{
  background-image: url(../img/cow.svg);
  top: -13px;
  left: -60px;
}
.seo-item:nth-child(3)::before{
  background-image: url(../img/eco.svg);
}
.seo-item:last-child::before{
  background-image: url(../img/thermometer.svg);
  top: -13px;
  left: -60px;
}



.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.news-item {
  width: 560px;

  border-radius: 15px;
}
.news-item-bg1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 80px;
  padding-left: 19px;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  background-position: -28px -68px;
}
.news-item-bg2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px 5px 6px;

  background-image: url(../img/bg-post.svg);
  background-position: center;
}
.news-container-left {
  width: 285px;
}
.news-container-left a{
}
.news-container-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 29px;
  padding-right: 12px;
  padding-bottom: 35px;
  padding-left: 22px;
  background-color: #f8f7f4;
  border-radius: 15px;
  background-color: #f8f7f4;
  border-radius: 15px;
}
.subscribe-input {
  padding: 11px 0 11px 13px;
  width: 368px;
  border-radius: 5px;
  font-family: "Roboto", Arial, sans-serif;
}
.subscribe-form {
  margin-top: 36px;
}
.address-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;

}
/*  background-image: url(../img/maps.jpg);
  background-repeat: no-repeat;
  background-position: center;
}*/

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  margin-top: 12px;
  padding: 0 25px 22px 27px;
}
.footer-social {
  width: 267px;
    padding-top: 18px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-item {
margin-right: 12px;
}
.footer-menu {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0 auto;
          padding-right: 80px;
              padding-left: 139px;
              padding-top: 3px;
              align-content: center;

}
.footer-banner {
  width: 267px;
  margin-left: auto;
  padding-left: 77px;
}
/*  Catalog   */
.main-container-catalog {
  width: 1200px;
  margin: 17px auto;
  padding: 0 27px;
}
.breadcrumbs-block {
  padding-left: 24px;
}
.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  width: 232px;

  -ms-flex-pack: distribute;
}
.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;;
}
.catalog-form-wrapper {
  margin-top: 23px;
}
.filters-block {
  padding-left: 26px;
}
.page-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin: 0 67px 0 27px;

  text-align: right;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.catalog-item-inner img {
width: 267px;
height: 267px;
}
.catalog-item-inner {


}

.catalog-item-inner:hover {
  position: absolute;
  height: 406px;
  width: 293px;
  top: -7px;
  left: -13px;
  padding: 7px 13px 0px 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 2;
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-item-inner:hover .catalog-invisible-button{
  display: block;
  margin-top: 18px;
  margin-left: 24px;
  padding-top: 10px;
}
